<!DOCTYPE html>
<html>
    <head>
        <title> Inventory </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    
    <body>
        <p> User: {{ user }}</p>
        <p><a href = "/logout"> Logout </a></p>
        <h1><a href="/"> HOME<br><hr></a></h1>
        
        <form action="/adduser" method="POST">
            <label>Enter the username :</label>
            <input type="text" name="get_un" style="font-size: 12pt" required="required"><br>
            <label>Enter the password :</label>
            <input type="password" name="get_pswd" style="font-size: 12pt" required="required"><br>
            <label>Enter the TeamName :</label>
            <input type="text" name="get_tn" style="font-size: 12pt" required="required"><br>
            <input type="submit" name="Submit" value="Add me!" style="font-size: 12pt">
            <h1><hr></h1>
        </form>
        
        {% if result != 0 %}
            <h3> {{ display }} <br></h3>
        {% endif %}
        
    </body>
</html>
