<!DOCTYPE html>
<html>
    <head>
        <title> Hyperloop Inventory </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    
    <body>
        <p> User: {{ user }}</p>
        <p><a href = "/logout"> Logout </a></p>
        <h1><a href="/"> HOME<br><hr></a></h1>
        <form action="/remove" method="POST">
            <label>Enter the ID of the item you want to remove :</label> 
            <input type="text" name="get_id" required="required" pattern="[0-9]*"><br>
            <label>Enter the no. of units of the item to remove :</label>
            <input type="text" name="get_units" required="required" pattern="[0-9]*"><br>
            <label>Enter the usage description of the item :</label>
            <input type="text" name="get_descp" required="required" style="width: 500pt"><br>
            <label> </label><input type="submit" name="Submit" value="Remove">
            <h1><hr></h1>
        </form>

        {% if result != 0 %}
            <h3> {{ display }} <br></h3>
        {% endif %}
        
        <h2> Stock </h2>
        <table>
            <col width="100">
            <col width="300">
            <col width="150">
            <col width="150">
            <col width="500">
            <col width='150'>
            <tr>
                <th> ID</th>
                <th> Tech Name</th>
                <th> Units Used</th>
                <th> Units Available</th>
                <th> Description</th>
                <th> Last updated</th>
            </tr>
            {% for row in stockRslt %}
            <tr>
                {%for col in row %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        
    </body>
</html>